
.features {
    grid-column: center-start / center-end;
    align-items: start;

    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
}

.feature {

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
    grid-column-gap: 2.5rem;
    grid-row-gap: 1.5rem;
    
    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        grid-column: 1 / 2;
        grid-row: 1 / -1;
    }
    &__text {
        font-size: 1.7rem;
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        display: cell;
        vertical-align: bottom;
    }
}