.realtors {

    grid-column: col-start 7 / full-end;

    background-color: $color-secondary;

    // display: flex;
    // flex-direction: column;
    // gap: 2rem;
    // justify-content: center;
    // align-items: left;
    padding: 3rem;

    display: grid;
    gap: 5vh;
    justify-content: center;
    justify-items: center;
    align-content: center;

    &__list {
        display: grid;
        grid-template-columns: min-content max-content;
        align-items: center;
        gap: 3vh;
    }

    &__img {
        width: 7rem;
        border-radius: 50%;
        display: block;
    }

    &__sold {
        color: $color-grey-light-1;
        text-transform: uppercase;
    }
}