
@mixin clearfix() {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin text-gradient($color1, $color2) {
    background-image: linear-gradient(to right, $color1, $color2);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin absolute-center() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}