

$nav-transition: .4s;

.navigation {

    &__checkbox {
        position: fixed;
        top: 9rem;
        right: 9rem;
        visibility: hidden;
    }

    &__button {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 9999;
        background-color: $color-white;
        box-shadow: 0 0 4rem rgba($color-black, .2);
        cursor: pointer;
    }

    &__icon {
        &,
        &:before,
        &:after {
            position: absolute;
            display: block;
            height: 2px;
            background-color: $color-grey-dark-3;
            transition: all .1s ease-out;
            width: 2.5rem;
        }
        & {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &:before,
        &:after {
            content: "";
            left: 0;
            top: 0;
        }
        &:before {
            transform: translateY(-300%);
        }
        &:after {
            transform: translateY(300%);
        }

    }

    &__button:hover &__icon {
        &:before {
            transform: translateY(-400%);
        }
        &:after {
            transform: translateY(400%);
        }
    }

    &__checkbox:checked ~ &__button &__icon {
        background-color: transparent;
        &:before {
            transform: rotate(135deg) translateY(0);
        }
        &:after {
            transform: rotate(-135deg) translateY(0);
        }
    }

    &__background {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 1000;
        background-image: radial-gradient(rgba($color-primary-light, 1), rgba($color-primary-dark, 1));
        opacity: .5;
        visibility: hidden;
        transition: all $nav-transition ease-in-out;
    }

    &__checkbox:checked ~ &__background {
        transform: scale(80);
        visibility: visible;
        opacity: 1;
    }

    &__nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        opacity: 0;
        z-index: 2000;
        overflow: hidden;
        transition: opacity $nav-transition ease-out $nav-transition;
    }

    &__checkbox:checked ~ &__nav {
        width: 100vw;
        height: 100vh;
        opacity: 1;
    }

    &__list {
        list-style: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all .4s ease-out;
        
        // &:hover {
        //     margin-left: -.5rem;
        // }
    }

    &__item {
        text-align: center;
        margin: 1rem;
    }

    &__link {

        &,
        &:link,
        &:visited {
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: 300;
            display: block;
            padding: 1rem 2rem;

            background-image: linear-gradient(120deg, transparent, transparent 50%, $color-white 50%, $color-white 100%);
            background-size: 250%;
            background-position: 0 0;

            transition: all .4s ease-out;

            span {
                display: inline-block;
                margin-right: 1rem;
            }
        }

        &:hover,
        &:active {
            background-position: 100% 0;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

}
